@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /* ### Neutral */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  color: var(--Soft-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  background-color: var(--card-bg);
  box-shadow: 0px 20px 41px 30px rgba(8, 16, 27, 0.493);
  display: flex;
  flex-direction: column;
  max-width: 390px;
  padding: 1.4rem;
  border-radius: 0.8rem;
}

picture.eth-picture {
  --transparent-cyan: hsla(178, 100%, 50%, 0.288);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

img.eth-image {
  position: relative;
}

img.eth-image:hover {
  cursor: pointer;
}

img.eth-image:hover+.overlay img.view-icon {
  visibility: visible;
}

img.eth-image:hover+.overlay {
  background-color: var(--transparent-cyan);
}

.overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}

img.view-icon {
  visibility: hidden;
}

h2.eth-title {
  color: var(--White);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
}

h2.eth-title:hover {
  color: var(--Cyan);
  cursor: pointer;
}

p.description {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.eth-icons {
  display: flex;
  padding-bottom: 1.25rem;
  margin-bottom: 1.3rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--line);
}

.eth-icons .eth-item {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.eth-icons .eth-item img.icon {
  width: fit-content;
  height: fit-content;
  margin-right: 0.5rem;
}

.eth-icons .eth-item h4.eth-value {
  color: var(--Cyan);
}

.eth-creator {
  display: flex;
  align-items: center;
}

.eth-creator .image-profile {
  background-color: #fff;
  padding: 1px;
  margin-right: 1rem;
  border-radius: 2rem;
  height: 2.1rem;
}

#profile-id {
  color: #fff;
}

#profile-id:hover {
  color: var(--Cyan);
  cursor: pointer;
}